﻿
@using System.Diagnostics
@*@using Monitor.Controllers.ViewModels*@
@using Newtonsoft.Json.Serialization

<style>
    .selected {
        background: "#ADD8E6";
    }

    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }
</style>

@*///////////////////////////////////////////////////////BAKS VIEW///////////////////////////////////////////////////////////////////////////////////*@
<div id="goodPartial">
    <div class="col-xs-12">
        <div id="good-wrapper">
            <hr />
            <div class="table-responsive">
                <table id="goodTable" class="table-hover table table-bordered">
                    <thead>
                        <tr>
                            <th>Название статьи</th>
                            <th>Время создания</th>
                            <th>Время редактирования</th>

                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Название статьи</th>
                            <th>Время создания</th>
                            <th>Время редактирования</th>
                        </tr>
                        <tr>
                            <th colspan="7" class="ts-pager form-inline">
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-default first"><span class="glyphicon glyphicon-step-backward"></span></button>
                                    <button type="button" class="btn btn-default prev"><span class="glyphicon glyphicon-backward"></span></button>
                                </div>
                                <span class="pagedisplay"></span>
                                <div class="btn-group btn-group-sm" role="group">
                                    <button type="button" class="btn btn-default next"><span class="glyphicon glyphicon-forward"></span></button>
                                    <button type="button" class="btn btn-default last"><span class="glyphicon glyphicon-step-forward"></span></button>
                                </div>
                                <select class="form-control input-sm pagesize" id="goodelementsPerPage" title="Select page size">
                                    <option selected="selected" value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option id="goodPerPage" value="All">Показать все</option>
                                </select>
                                <select class="form-control input-sm pagenum" title="Select page number"></select>
                            </th>
                        </tr>
                    </tfoot>
                    <tbody id="gooddataTable">
                        @*TABLE*@
                    </tbody>
                </table>
            </div>
        </div>
        <div id="foot-page"></div>
    </div>
</div>

@*/////////////////Модальное на добавление////////////////////////////////*@
<body>
    <div class="addNewGood">
        <!-- Button HTML (to Trigger Modal) -->
        @*<a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>*@

        <!-- Modal HTML -->
        <div class="modal fade" id="goodadd-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
            <style scoped>
                /* provides a red astrix to denote required fields - this should be included in common stylesheet */
                .form-group.required .control-label:after {
                    content: "*";
                    color: red;
                    margin-left: 4px;
                }
            </style>
            <div class="modal-dialog" id="goodmodal-add" role="document">
                <form class="modal-content form-horizontal" id="add">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="goodadd-title">Добавить статью</h4>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="goodaddid" name="id" class="hidden" />
                        <div class="form-group required">
                            <label for="goodaddname" class="col-sm-3 control-label">Название статьи</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goodaddname" name="name" placeholder="Название статьи" required>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="goodaddAnno" class="col-sm-3 control-label">Аннотация</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goodaddAnno" name="goodaddAnno" placeholder="Аннотация" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="goodaddTags" class="col-sm-3 control-label">Метатэги</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="goodaddTags" name="goodaddTags" placeholder="Укажите метатэги через запятую" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="goodaddText" class="col-sm-3 control-label">Текст статьи</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="goodaddText" name="goodaddText" placeholder="Текст статьи" required></textarea>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" id="goodaddSubmit" class="btn btn-primary">Добавить статью</button>
                        <button type="button" class="btn btn-default" id="goodcloseaddModal" data-dismiss="modal">Отменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

@*///////*@
@*/////////////////Модальное на редактирование ////////////////////////////////*@
<body>
    <div class="goodedit">
        <!-- Button HTML (to Trigger Modal) -->
        @*<a href="#myModal" class="btn btn-lg btn-primary" data-toggle="modal">Launch Demo Modal</a>*@

        <!-- Modal HTML -->
        <div class="modal fade" id="goodedit-modal" tabindex="-1" role="dialog" aria-labelledby="editor-title">
            <style scoped>
                /* provides a red astrix to denote required fields - this should be included in common stylesheet */
                .form-group.required .control-label:after {
                    content: "*";
                    color: red;
                    margin-left: 4px;
                }
            </style>
            <div class="modal-dialog" id="goodmodal-edit" role="document">
                <form class="modal-content form-horizontal" id="edit">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="goodeditor-title">Редактировать статью</h4>
                    </div>
                    <div class="modal-body">
                        <input type="number" id="goodeditid" name="id" class="hidden" />
                        <div class="form-group required">
                            <label for="goodeditname" class="col-sm-3 control-label">Название статьи</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goodeditname" name="name" placeholder="Название статьи" required>
                            </div>
                        </div>

                        <div class="form-group required">
                            <label for="goodeditAnno" class="col-sm-3 control-label">Аннотация</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="goodeditAnno" name="goodeditAnno" placeholder="Аннотация" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="goodeditTags" class="col-sm-3 control-label">Метатэги</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="goodeditTags" name="goodeditTags" pattern="[0-9()-.^+\/*%^]+" placeholder="Укажите метатэги через запятую" required>
                        </div>
                    </div>
                    <div class="form-group required">
                        <label for="goodeditText" class="col-sm-3 control-label">Текст статьи</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="goodeditText" name="goodeditText" placeholder="Текст статьи" required></textarea>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="goodeditSubmit" class="btn btn-primary">Редактировать статью</button>
                        <button type="button" class="btn btn-default" id="goodcloseeditModal" data-dismiss="modal">Отменить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</body>


@*<div>
        <textarea id="textID" name="textID"></textarea>
    </div>*@
@*///////*@


<script type="text/javascript">
    ////////////////////////////////////////////////////
    $.tablesorter.themes.bootstrap = {
        table: 'table table-bordered table-striped',
        caption: 'caption',
        header: 'bootstrap-header',
        sortNone: '',
        sortAsc: '',
        sortDesc: '',
        active: '',
        hover: '',
        icons: '',
        iconSortNone: 'bootstrap-icon-unsorted',
        iconSortAsc: 'glyphicon glyphicon-chevron-up',
        iconSortDesc: 'glyphicon glyphicon-chevron-down',
        filterRow: '',
        footerRow: '',
        footerCells: '',
        even: '',
        odd: ''
    };
    $("#goodTable").tablesorter({
        theme: "bootstrap",
        widthFixed: true,
        headerTemplate: '{content} {icon}',
        widgets: ["uitheme", "filter", "columns", "zebra"],
        widgetOptions: {
            zebra: ["even", "odd"],
            columns: ["primary", "secondary", "tertiary"],
            filter_reset: ".reset",
            filter_cssFilter: "form-control",
        }
    })
        .tablesorterPager({
            // target the pager markup - see the HTML block below
            container: $(".ts-pager"),
            // target the pager page select dropdown - choose a page
            cssGoto: ".pagenum",
            // remove rows from the table to speed up the sort of large tables.
            // setting this to false, only hides the non-visible rows; needed if you plan to add/remove rows with the pager enabled.
            removeRows: false,
            savePages: false,
            // output string - default is '{page}/{totalPages}';
            // possible variables: {page}, {totalPages}, {filteredPages}, {startRow}, {endRow}, {filteredRows} and {totalRows}
            output: '{startRow} - {endRow} / {filteredRows} ({totalRows})'
        });

    ///////////////////////////////////////////////////////////////

    //GET
    function updateTable(data) {
        var count = data.length;
        $("#goodPerPage").val(count);
        $('#gooddataTable').empty();
        for (var i = 0; i < data.length; i++) {
            var editDateOld = null;
            var date = data[i].CreationDate;
            if (data[i].EditDate !== null) {
                var dateedit = data[i].EditDate;
                editDateOld = dateedit[8] + dateedit[9] + "." + dateedit[5] + dateedit[6] + "." + dateedit[0] + dateedit[1] + dateedit[2] + dateedit[3] + " " + dateedit[11] + dateedit[12] + ":" + dateedit[14] + dateedit[15];
            } else {
                editDateOld = " ";
            }
            var creationDateOld = date[8] + date[9] + "." + date[5] + date[6] + "." + date[0] + date[1] + date[2] + date[3] + " " + date[11] + date[12] + ":" + date[14] + date[15];
            $('#gooddataTable').append(
                "<tr id=" + data[i].Id + ">" +
                "<td>" + data[i].Inner + "</td>" +
                "<td>" + creationDateOld + "</td>" +
                "<td>" + editDateOld + "</td>" +
                "</tr>");
        }
        $(".tablesorter").trigger("update");
        $("table")
            .tablesorter({ widthFixed: true, widgets: ['zebra'] })
            .tablesorterPager({ container: $("#pager") });
    }
    var goodgetAll = function () {
        $.ajax({
            type: "GET",
            url: "Api/Good/GetAllGoods",
            success: function (data) {
                updateTable(data);
            }
        }).done(function (data) {
        });
    };
    $(document).ready(function () {
        goodgetAll();
        
    });

    /// Кликабельные строки для редактирования и удаления. С активируемыми кнопками и получением данных из полей
    var InnerOld = null, TextOld = null, AnnotationOld = null, CreationDateOld = null, EditDateOld = null, TagsStrOld = null;
    var Inner = null, Text = null, Annotation = null, CreationDate = null, EditDate = null, TagsStr = null;
    var keycode = null;
    var idRaw = null;
    var commas = null;
    var id;
    $(document).on('click', 'tr', function (e) {
        if ($(this).attr('id') !== undefined) {
            var idRawOld = idRaw;
            $("#EditGood").removeClass("disabled");
            $("#DeleteGood").removeClass("disabled");
            $("#ShowGood").removeClass("disabled");
            $(this).closest("tr");
            idRaw = $(this).attr('id');
            var tdValue;
            if (idRawOld === idRaw) {
                $("#EditGood").addClass("disabled");
                $("#DeleteGood").addClass("disabled");
                $("#ShowGood").addClass("disabled");
                $('tr').css("backgroundColor", "");
                tdValue = null;
                idRawOld = null;
                idRaw = null;
            } else {
                $('tr').css("backgroundColor", "");
                $("#" + idRaw).css("backgroundColor", "#ADD8E6");
                tdValue = $("#" + idRaw).children('td').map(function (index, val) {
                    return $(this).text();
                }).toArray();
                InnerOld = tdValue[0], CreationDateOld = tdValue[1], id = idRaw;
            }
        }
    });

    /// Изменить Статью
    $('#goodedit-modal').on('hidden.bs.modal', function (e) {
        $(this).find("input,textarea,select").val('').end();
        if (CKEDITOR.instances['goodeditText']) {
            CKEDITOR.instances['goodeditText'].destroy();
        }
    });
    $('#EditGood').click(function () {
        if (!$(this).hasClass('disabled')) {
            $.ajax({
                type: "GET",
                url: "Api/Good/GetGoodById" + '?goodId=' + idRaw,
                success: function (data) {
                    TextOld = data.Text;
                    AnnotationOld = data.Annotation;
                    TagsStrOld = data.TagsStr;
                    $("#goodedit-modal").modal();
                    $("#goodeditname").val(InnerOld);
                    $("#goodeditAnno").val(AnnotationOld);
                    $("#goodeditText").val(TextOld);
                    $("#goodeditTags").val(TagsStrOld + ",");
                    CKEDITOR.replace('goodeditText').setData(TextOld);
                }
            });
        }
        

        //// Автозаполнение
        var availableTags = null;
        var tags = null;
        var tagsstr = null;
        var words = null;
        function split(val) {
            return val.split(/,\s*/);
        }
        function extractLast(term) {
            return split(term).pop();
        }
        $("#goodeditTags")
        // остановить смену фокуса, если выделен один из элементов автозаполнения
        .bind("keydown", function (event) {
            if (event.keyCode === $.ui.keyCode.TAB &&
            $(this).data("autocomplete").menu.active) {
                event.preventDefault();
            }
        })
        .autocomplete({
            maxShowItems: 5,
            minLength: 2,
            source: function (request, response) {
                words = null;
                 words = request.term.trim().split(',');
                keycode = $.trim(words[words.length - 1]);
                request.term = keycode;
                $.ajax({
                    url: "api/tag/GetTagByKey" + '?key=' + keycode,
                    success: function (data) {
                        availableTags = "";
                        tags = "";
                        tagsstr = "";
                        $.each($.parseJSON(JSON.stringify(data)), function (idx, obj) {
                            tags += "," + obj.Name;
                        });
                        tags = tags.replace(/^,/, '');
                        availableTags = tags.split(',');
                    }, error: function () {
                        alert('sd');
                    }
                });
                // делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
                if (availableTags !== null) {
                    response($.ui.autocomplete.filter(
                 availableTags
                 , extractLast(request.term)));
                }
            },
            focus: function () {
                // отменяем вставку значения на получение фокуса
                return false;
            },
            select: function (event, ui) {
                event.preventDefault();
                var terms = split(this.value);
                // удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
                terms.pop();
                terms.push(ui.item.value);
              // собираем все элементы в строку, разделяя их запятыми и вставляем
                // строку обратно в текстовое поле
                terms.push("");
                this.value = terms.join(", ");

                TagsStr = this.value.toString();
                TagsStr = TagsStr.toString().trim();
                if ( TagsStr[TagsStr.length-1] === ","){
                    TagsStr= TagsStr.replace(/,\s*$/, '');}
               
                return false;
            }
        });
        //// Автозаполнение

        
        $("#goodeditTags").keypress(function (e) {
            var j = $("#goodeditTags").val();
            if (j !== null & j !== undefined & j !== "") {
                 commas = j.match(/,/g).length;
}if (commas >= 20) {
                $("#goodeditTags").attr("maxlength", j.length);
            } else {
                $("#goodeditTags").removeAttr("maxlength");
            }

        });


        $("#goodeditSubmit").off('click').on('click', function (e) {
            e.preventDefault();
            Inner = $("#goodeditname").val();
            Annotation = $("#goodeditAnno").val();
            Text = CKEDITOR.instances['goodeditText'].getData();
            TagsStr = $("#goodeditTags").val().trim();
          if (TagsStr[TagsStr.length - 1] === ",") {
                TagsStr = TagsStr.replace(/,\s*$/, '');
            }
            var item = {
                Id: idRaw,
                Inner: Inner,
                Annotation: Annotation,
                Text: Text,
                TagsStr: TagsStr
            }
            $.ajax({
                url: '/api/Good/UpdateGood',
                type: "PUT",
                data: JSON.stringify(item),
                contentType: "application/json",
                dataType: "html",
                success: function () {
                    $.ajax({
                        url: "Api/tag/addnewtag" + '?tag=' + item.TagsStr,
                        type: "GET",
                      
                        success: function () {
                          }
                    });
                    goodgetAll();
                    $("#" + idRaw).click();
                    $("#goodcloseeditModal").click();
                    $("#EditGood").addClass("disabled");
                    $("#DeleteGood").addClass("disabled");
                    $("#ShowGood").addClass("disabled");
                    var n = "goodeditText";
                    if (CKEDITOR.instances['goodeditText']) {
                        CKEDITOR.instances['goodeditText'].destroy();
                    }
                },
                error: function () {
                    alert('Невозможно подключиться к серверу данных.');
                }
            });
        });
    });

    /// Конец Изменить Статью
    //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////

    /// Добавить Статью
    $('#goodadd-modal').on('hidden.bs.modal', function (e) {
        $(this).find("input,textarea,select").val('').end();
        if (CKEDITOR.instances['goodaddText']) {
            CKEDITOR.instances['goodaddText'].destroy();
        }
    });
    $('#AddGood').click(function () {
        $("#goodadd-modal").modal();
        CKEDITOR.replace('goodaddText').setData();
    });

    //// Автозаполнение
    var availableTags = null;
    var tags = null;
    var tagsstr = null;
    var words = null;
    function split(val) {
        return val.split(/,\s*/);
    }
    function extractLast(term) {
        return split(term).pop();
    }
    $("#goodaddTags")
    // остановить смену фокуса, если выделен один из элементов автозаполнения
    .bind("keydown", function (event) {
        if (event.keyCode === $.ui.keyCode.TAB &&
        $(this).data("autocomplete").menu.active) {
            event.preventDefault();
        }
    })
    .autocomplete({
        maxShowItems: 5,
        minLength: 2,
        source: function (request, response) {
            words = null;
            words = request.term.trim().split(',');
            keycode = $.trim(words[words.length - 1]);
            request.term = keycode;
            $.ajax({
                url: "api/tag/GetTagByKey" + '?key=' + keycode,
                success: function (data) {
                    availableTags = "";
                    tags = "";
                    tagsstr = "";
                    $.each($.parseJSON(JSON.stringify(data)), function (idx, obj) {
                        tags += "," + obj.Name;
                    });
                    tags = tags.replace(/^,/, '');
                    availableTags = tags.split(',');
                }, error: function () {
                    alert('sd');
                }
            });
            // делегируем поиск элементов автозаполнения обратно плагину, предварительно убрав уже выбранные элементы
            if (availableTags !== null) {
                response($.ui.autocomplete.filter(
             availableTags
             , extractLast(request.term)));
            }
        },
        focus: function () {
            // отменяем вставку значения на получение фокуса
            return false;
        },
        select: function (event, ui) {
            event.preventDefault();
            var terms = split(this.value);
            // удаляем вводимую часть текста и помещаем вместо нее выбранный элемент
            terms.pop();
            terms.push(ui.item.value);
            // собираем все элементы в строку, разделяя их запятыми и вставляем
            // строку обратно в текстовое поле
            terms.push("");
            this.value = terms.join(", ");

            TagsStr = this.value.toString();
            TagsStr = TagsStr.toString().trim();
            if (TagsStr[TagsStr.length - 1] === ",") {
                TagsStr = TagsStr.replace(/,\s*$/, '');
            }

            return false;
        }
    });
    //// Автозаполнение


    $("#goodaddTags").keypress(function (e) {
        var j = $("#goodaddTags").val();
        if (j !== null & j !== undefined & j !== "") {
            commas = j.match(/,/g).length;
        } if (commas >= 20) {
            $("#goodaddTags").attr("maxlength", j.length);
        } else {
            $("#goodaddTags").removeAttr("maxlength");
        }

    });




    $("#goodaddSubmit").off('click').on('click', function (e) {
        e.preventDefault();
        Inner = $("#goodaddname").val();
        Annotation = $("#goodaddAnno").val();
        Text = CKEDITOR.instances['goodaddText'].getData();
        TagsStr = $("#goodaddTags").val().trim();
        if (TagsStr[TagsStr.length - 1] === ",") {
            TagsStr = TagsStr.replace(/,\s*$/, '');
        }
        var item = {
            Id: 0,
            Inner: Inner,
            Annotation: Annotation,
            Text: Text,
            TagsStr: TagsStr
        }
        $.ajax({
            url: '/api/Good/AddNewGood',
            type: "POST",
            data: JSON.stringify(item),
            contentType: "application/json",
            dataType: "html",
            success: function () {
                $.ajax({
                    type: "GET",
                    data: JSON.stringify(item.TagsStr),
                    url: "Api/tag/addnewtag",
                    success: function () {
                    }
                });
                goodgetAll();
                if (CKEDITOR.instances['goodaddText']) {
                    CKEDITOR.instances['goodaddText'].destroy();
                }
                $("#goodcloseaddModal").click();
                $("#" + idRaw).click();
                $("#EditGood").addClass("disabled");
                $("#DeleteGood").addClass("disabled");
                $("#ShowGood").addClass("disabled");
            },
            error: function () {
                alert('Невозможно подключиться к серверу данных.');
            }
        });
    });
    /// Конец Добавить Статью

    //Удалить Статью
    $('#DeleteGood').click(function (e) {
        if (!$(this).hasClass('disabled')) {
            e.preventDefault();
            var b = idRaw;
            $.ajax({
                url: '/api/Good/RemoveGoodById' + '?goodId=' + idRaw,
                type: "DELETE",
                contentType: "application/json",
                dataType: "html",
                success: function () {
                    goodgetAll();
                    $("#" + idRaw).click();
                    $("#EditGood").addClass("disabled");
                    $("#DeleteGood").addClass("disabled");
                    $("#ShowGood").addClass("disabled");
                },
                error: function () {
                    alert('Невозможно подключиться к серверу данных.');
                }
            });
        }
    });
    /// Конец Удалить Статью

    //Показать Статью
    var ShowInner = null;
    var ShowText = null;
    var ShowAnnotation = null;
    var ShowCreationDate = null;
    var ShowEditDate = null;
    var dateedit = null;
    $('#ShowGood').click(function (e) {
        if (!$(this).hasClass('disabled')) {
            e.preventDefault();
            var b = idRaw;
            var url = '@Url.Action("ShowGood", "home" , new { goodId = "ID"})'.replace("ID", idRaw);
            window.open(url, '_blank');
            $("#" + idRaw).click();
            $("#EditGood").addClass("disabled");
            $("#DeleteGood").addClass("disabled");
            $("#ShowGood").addClass("disabled");
        }
    });
    /// Конец Показать Статью
</script>


















