﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
 @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.9.1.js" language="javascript" type="text/javascript"></script>
    <!-- ui theme stylesheet - contents shown below -->
   <script type="text/javascript" src="~/Scripts/bootstrap.js"></script>
    <!-- Bootstrap v3.x stylesheet -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/themes/base/jquery-ui.css">
    <script src="~/Scripts/jquery-ui-1.9.1.js"></script>
    <script type="text/javascript" src="~/Scripts/Tablesorter/jquery.tablesorter.js"></script>
    <script src="~/Scripts/Tablesorter/jquery.tablesorter.widgets.js"></script>
    <script src="~/Scripts/Tablesorter/jquery.tablesorter.pager.js"></script>
    <link rel="stylesheet" href="~/Content/jquery.tablesorter.pager.css">
    <script src="~/Content/ckeditor/ckeditor.js" type="text/javascript"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
         <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Goods", "Home")</li>
                    </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
