﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Scripts/jquery-1.9.1.js" language="javascript" type="text/javascript"></script>
    <meta charset="UTF-8">
    <title>Статья</title>
    <meta name="Keywords" id="keywords" content="@ViewBag.good.TagsStr">
</head>
<body>
<div style="margin: 0 auto;">
    <h1>@ViewBag.good.Inner</h1>
    <em>@ViewBag.good.Annotation</em>
    <div id="texthere">@Html.Raw(@ViewBag.good.Text)

    </div>
    <p style="text-align: right;">Дата создания: @ViewBag.good.CreationDate</p>
    @if (ViewBag.good.EditDate != null)
    {
        <p style="text-align: right;">Дата редактирования: @ViewBag.good.EditDate</p>
    }
</div>
</body>
</html>

