﻿span img,li img {
    width: 32px;
    height: 30px;
    float: left;
    margin-right: 5px;
    display: inline-block;
    background-repeat: no-repeat;  
} 

img.car_7540 {
    background-image: url('/images/icon/7540.jpg');
}

div.alert_typeDRed {
    height: 20px;
    margin: 10px 30px 8px 30px;
    background: #FF0000;
}
div.alert_typeCOrange {
    height: 20px;
    margin: 10px 30px 8px 30px;
    background: #FF9900;
}
div.alert_typeBYellow {
    height: 20px;
    margin: 10px 30px 8px 30px;
    background: #FFDF00;
}
div.alert_typeAGray {
    height: 20px;
    margin: 10px 30px 8px 30px;
    background: #D3D3D3;
}

div.alert_typeHydraulics {
    height: 35px;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/hydro_motor.png');
}

div.alert_typeEngine {
    height: 35px;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/cummins.png');
}

div.alert_typeTransmission {
    height: 35px;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/hydro_transmission.png');
}

div.param_set_true {
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/greenpoint.gif');
}

div.param_set_false {
    height: 100%;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/redpoint.gif');
}

img.group {
    width: 16px;
    height: 16px;
    background-image: url('/images/icon/group.png');
}
.treeOfCar {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    background-repeat: no-repeat; 
    background-image: url('/images/icon/settings.png');
} 
.treeOfZone {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 5px;
    background-repeat: no-repeat; 
    background-image: url('/images/icon/contactsIcon.png');
} 

.aim {
    height: 20px;
    background-position: center; 
    background-repeat: no-repeat;
    background-image: url('/images/icon/aim.png');
} 
